<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.68.0.3547" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
</packages>